<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <section>
        <header>
            <a href="/"><img src="{{url_for('static', filename='img/logo.avif')}}" alt="logo"></a>
            <nav>
                <ul>
                    <li><a href="#"><img src="{{url_for('static', filename='/img/white-magg.png')}}" alt="search1"></a></li>
                    <li><a href="/shopping-cart"><img src="{{url_for('static', filename='/img/white-bag.png')}}" alt="shopping-cart"></a></li>
                    <li><a href="/gallery"><img src="{{url_for('static', filename='/img/nav-button-white.png')}}" alt="nav-button"></a></li>
                </ul>
                <!-- <div class="nav-button">
                    <img src="./img/nav-button-white.png" alt="nav-button">
                </div>
                <div class="logo">
                    <img src="./img/logotextplain-01_2_6ae1075c-220a-4acf-804c-e75cb876b4fd_180x.avif" alt="Mauvias">
                    <h1>MAUVAIS</h1>
                </div>
                <div class="links">
                    <a href="#"><img src="./img/search-mag-transparent.png" alt="search"></a>
                    <a href="#">practice</a>
                    <a href="#">classes</a>
                </div> -->
            </nav>
        </header> 
        <main class="container">

            <!-- Left Column -->
            <div class="left-column">
              <div class="left">
                <img  class="active" data-image="1st" src="{{url_for('static', filename='/img/Mauvais-black-monogram-1.webp')}}" alt="Mauvais-black-monogram-1">
                <img data-image="2nd" src="{{url_for('static', filename='/img/Mauvais-black-monogram-2.webp')}}" alt="Mauvais-black-monogram-2">
                <img data-image="3rd" src="{{url_for('static', filename='/img/Mauvais-black-monogram-3.webp')}}" alt="Mauvais-black-monogram-3">
              </div>
                <div class="button">
                  <div class="color-choose">
                    <div class="pic-selector">
                      <input data-image="1st" type="image" src="{{url_for('static', filename='/img/Mauvais-black-monogram-1.webp')}}" id="1st" name="color" value="1st" checked>
                      <label for="1st"><span></span></label>
                    </div>
                    <div class="pic-selector">
                      <input data-image="2nd" type="image" src="{{url_for('static', filename='/img/Mauvais-black-monogram-2.webp')}}" id="2nd" name="color" value="2nd" checked>
                      <label for="2nd"><span></span></label>
                    </div>
                    <div class="pic-selector">
                      <input data-image="3rd" type="image" src="{{url_for('static', filename='/img/Mauvais-black-monogram-3.webp')}}" id="3rd" name="color" value="3rd" checked>
                      <label for="3rd"><span></span></label>
                    </div>
                  </div>
                </div>
            </div>
            
            <!-- Right Column -->
            <div class="right-column">
      
              <!-- Product Description -->
              <div class="product-description">
                <span>Hoodies & Sweats</span>
                <h1>BLACK MONOGRAM SWEATSHIRT</h1>
                <p>$44.99</p>
              </div>
      
              <!-- Product Configuration -->
              <div class="product-configuration">
      
                <!-- Product Color -->
                <!-- <div class="product-color">
                  <span>Color</span>
      
                  <div class="color-choose">
                    <div>
                      <input data-image="1st" type="radio" id="1st" name="color" value="1st" checked>
                      <label for="1st"><span></span></label>
                    </div>
                    <div>
                      <input data-image="2nd" type="radio" id="2nd" name="color" value="2nd">
                      <label for="2nd"><span></span></label>
                    </div>
                    <div>
                      <input data-image="3rd" type="radio" id="3rd" name="color" value="3rd">
                      <label for="3rd"><span></span></label>
                    </div>
                  </div>
      
                </div> -->
      
                <!-- Cable Configuration -->
                <div class="cable-config">
                  <span>Size</span>
      
                  <div class="cable-choose">
                    <button>X-Small</button>
                    <button>Small</button>
                    <button>Medium</button>
                    <button>Large</button>
                    <button>X-Large</button>
                  </div>
      
                  <a href="#">Size Guide</a>
                </div>
              </div>
      
              <!-- Product Pricing -->
              <div class="product-price">
                <span>$44.99</span>
                <a href="#" class="cart-btn">Add to cart</a>
              </div>
            </div>
            
          </main>
          <!-- <section class="bottom">
            <div class="button">
              <div class="color-choose">
                <div class="pic-selector">
                  <input data-image="1st" type="image" src="{{url_for('static', filename='/img/Mauvais-black-monogram-1.webp')}}" id="1st" name="color" value="1st" checked>
                  <label for="1st"><span></span></label>
                </div>
                <div class="pic-selector">
                  <input data-image="2nd" type="image" src="{{url_for('static', filename='/img/Mauvais-black-monogram-2.webp')}}" id="2nd" name="color" value="2nd" checked>
                  <label for="2nd"><span></span></label>
                </div>
                <div class="pic-selector">
                  <input data-image="3rd" type="image" src="{{url_for('static', filename='/img/Mauvais-black-monogram-3.webp')}}" id="3rd" name="color" value="3rd" checked>
                  <label for="3rd"><span></span></label>
                </div>
              </div>
            </div>
            
          </section> -->
          <!-- Scripts -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
          <script src="../static/script1.js" charset="utf-8"></script>
        
    </section>
    
</body>
</html>